snippet ADD
	# Project Details Information

	* ${1:details}

	## Call/Meeting Notes (${2:month}/${3:day}/${4:year})

	* ${5:notes}

	# Confirmed Findings

	* TODO

	# TODO List

	* Explore `/example.jsp`

	# DONE List

	* Explore `/example.jsp`

	# Engagement Notes

	## Hack/Project Notes/Whatever

	## Hack/Project Notes/Whatever

snippet code
	\`${1:content}\`
