snippet om
	...omitted for brevity...
snippet tech
	@\`\`${1:content}\`\`@
snippet bc
	bc.. ${1:content}

	p. ${2:footer}
snippet req
	*Request*

	bc.. ${1:request}
snippet resp
	*Response*

	bc.. ${1:response}
