snippet VULN
	#[Title]#
	${1:title}

	#[Definition]#
	${2:definition}

	#[Details]#
	${3:details}

	#[Affected Locations]#
	${4:affected}

	#[Total Instances]#
	1

	#[Recommendations]#

	#[Priority]#
	5
